.user-report-container {
    margin: 20px;
}

.user-report-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.user-report-table th, .user-report-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.user-report-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.user-report-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-report-table tbody tr:hover {
    background-color: #e9e9e9;
}
.user_info_cell {
    text-align: center;
}

.user_info_avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

.user_info {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.9rem;
    text-align: left;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.user_info h4{
    margin: 0;
}

.user_info_avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
